[submodule "multisig-scw/contracts/lib/forge-std"]
	path = multisig-scw/contracts/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "multisig-scw/contracts/lib/openzeppelin-contracts"]
	path = multisig-scw/contracts/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "multisig-scw/contracts/lib/account-abstraction"]
	path = multisig-scw/contracts/lib/account-abstraction
	url = https://github.com/eth-infinitism/account-abstraction
